{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}New Intervention{% endblock %}

{% block body %}
    <div class="container">
        <h1>Saisie d'intervention</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="d-flex justify-content-between m-sm-5 mt-5">
                <a href="{{ path('home') }}" class="btn btn-light">Retour</a>
                <button class="btn btn-light">Enregistrement</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
