{% extends 'base.html.twig' %}

{% block title %}Accueil Admin{% endblock %}

{% block body %}
        <section class="">
            <img class="w-100 " src="{{ asset('build/images/cuma_haut.jpg') }}" alt="image moissonneuse"/>
        </section>
    {% if app.user %}
        <section class="container">
            <a class="btn btn-primary button-home fw-bold fw-bold mt-5 fs-5 w-100 d-flex align-items-center" href="{{ path('intervention_index') }}">
                <span class="iconify me-2" data-icon="codicon:notebook" data-inline="false"></span>
                Interventions réalisées
            </a>

            <a class="btn btn-primary button-home  fw-bold fw-bold mt-5 fs-5 w-100 d-flex align-items-center" href="{{ path('where_material_index') }}">
                <span class="iconify me-2" data-icon="fa-solid:search-location" data-inline="false"></span>
                Où se trouve le matériel
            </a>
            <a class="btn btn-primary button-home  fw-bold fw-bold mt-5 fs-5 w-100 d-flex align-items-center" href="{{ path('user_details_index') }}">
                <span class="iconify me-2" data-icon="fa-solid:search-location" data-inline="false"></span>
                Détails des utilisateurs
            </a>
        </section>
    {% endif %}
{% endblock %}
