$wild-color: #b3171c;
$light: #fffbfb;

//Color Project
$blue: #0d6efd;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #2a8307;
$secondary: #54ac32;
$success: #198754;
$danger: #bb2c3a;
$light: #f8f9fa;
$dark: #212529;
$element: #ffebce;
$info: #6c757d;
