<form method="post" action="{{ path('where_material_delete', {'id': where_material.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ where_material.id) }}">
    <button class="btn">Delete</button>
</form>
