{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Matériel{% endblock %}

{% block body %}
    <div class="container">
        <h1>J'ai le matériel</h1>
        {{ include('where_material/_form.html.twig') }}
    </div>
{% endblock %}
